body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background: #FFF8E7;
}
#container {
  width: 90vw;
  justify-content: center;
  margin: auto;
  padding: 0.5px;
  display: flex;
  flex-wrap: wrap;
}
.project{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
  display: block;
  margin: 0.5px;
  height: 8em;
  line-height: 8em;
  font-family: sans-serif;
  padding-left: 3em;
  padding-right: 3em;
}
@media (max-width: 32em) {
  .project {
  font-size: 1em;
  }
}
