body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background: #FFF8E7;
  align-items: center;
  display: flex;
}
#container {
  width: 90vw;
  margin: auto;
  padding: 0.5px;
  display: flex;
  flex-wrap: wrap;
}
.project{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 1.2em;
  vertical-align: middle;
  display: block;
  margin: 0.5px;
  height: 8em;
  font-family: sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-wrapper {
  margin-top: -0.2em;
}
.log {
  display: block;
  font-size: 0.7em;
}
.title {
  display: block;
  line-height: 1.5em;
  border-bottom: 4px solid black;
  margin-bottom: 0.2em;
}
@media (max-width: 32em) {
  .project {
  font-size: 1em;
  }
}
